
.container-fluid {
    display: flex;
}
/* Shipping header below, teal */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ec5bf;
    text-align: center;
    padding: 5px 15px;
}
.top-info {
    font-weight: 300;
    font-size: .65em;
    color: white;
}

/* NAVBAR BELOW */
/* sustainability etc below, collapses to hamburger, this is the styling for both. one disappears via visibility none */

.navbar-brand {
    letter-spacing: .8em;
}

.header-2-hamburger, .header-2-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100vw;
    background-color: #f1f1f1;
    gap: 50px;
}

.header-2-hamburger, .header-2-landscape, a {
    text-decoration: none;
    color: black;
    font-weight: 50;
    font-size: .9em;
}
/* below ensures it stays invisible until media query makes it appear in side nav bar */
.header-2-hamburger {
    visibility: hidden;
}

.hamburger-border {
    padding: 10px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

/* this ensures the hamburger icon stays a reasonable size */
.navbar-toggler .navbar-toggler-icon {
    max-height: 20px;
    max-width: 20px;
}
/* search icon width below */
.btn-outline-success svg {
    max-width: 10px;
}


/* Hero banner styling below */

.hero-image-cover {
    background-image: url(../route-one-copy/images/shorts-main-banner.jpg);
    height: 700px;
    background-size: cover;
    /* new below */
    background-attachment: fixed;
    background-position: center center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; */
}

.hero-text {
    color: white;
    margin-left: 20px;
    margin-right: auto;
}



/* Media queries below */

@media (max-width: 992px){
    .header-2-landscape {
        visibility: hidden;
    }

    .header-2-hamburger {
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 10px;
        font-weight: 500;
        align-items: center;
        margin-top: 50%;
        visibility: visible;
        background-color: white;
    }

    .navbar-toggler {
        position: static;

    }
    
    .nav-link {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .hero-image-cover {
        background-image: url(../route-one-copy/images/shorts-main-banner.jpg);
        background-size: cover;
        background-attachment: local;
        height: 500px;
    }
}

@media (max-width: 600px){
    .navbar-brand {
        letter-spacing: .6em;
    }
    .hero-text {
        font-size: .6em;
    }

}